body {
  min-height: 75em; /* Can be emoved; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6em;
  padding-bottom: 6em;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40em;
}

.album {
  min-height: 50em; /* Can be emoved; just added for demo purposes */
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 20%;
  padding: .75em;
  margin-bottom: 2em;
  border: 0;
}

.card > img {
  margin-bottom: .75em;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3em;
  padding-bottom: 3em;
}

footer p {
  margin-bottom: .25em;
}
